.header{
    display: flex;
    z-index: inherit;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    min-height: 80px;
    letter-spacing: 1.2px;
    backdrop-filter: blur(5px);
    color: var(--secondary-button);
    z-index:1;
}
.login__button{
    background: rgba(123, 224, 105, 0.933);
    box-shadow: 0 8px 0 var(--secondary-button),0 15px 15px rgba(0,0,0,.35);
    transition: 0.2s ease-in-out;
}
.pressed__login{
    transform: translateY(4px);
    box-shadow: 0 3px 0 var(--secondary-button);
}
.icon{
    cursor: pointer;
    font-weight: bolder;
}
.icon__right,.right__side{
    display: flex;
    justify-content: space-between;
}

.icon__right>p,.right__side>p{
    padding: 10px;
    font-size: 19px !important;
    border-radius: 10px;
    margin:0 4px;
    transition: 0.4s    ease-in-out;
    cursor: pointer;

}

/* .right__side>p:nth-child(2){
    background-color: var(--secondary-button);
    color: white;
} */
.icon__right>p:hover,.right__side>p:hover:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)){
    background-color: var(--pink--hover);

}



.icon__right>p:active,.right__side>p:active:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)),.icon__right>p:focus,.right__side>p:focus:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)),.icon__right>p:visited,.right__side>p:visited:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)){
    background-color: var(--simple);

}


@media(max-width:760px){
    .header{
        visibility: hidden;
    }
}
.user__image__container{
    position: relative;
    display: flex;
    justify-content: center;
}
.user__data{
    position: absolute;
    width: 150px;
    top:50px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.2);
    padding: 20px 10px;
    /* animation: came 0.5s linear; */
}
/* @keyframes came{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(18%);
    }
} */

.input__btn{
outline: none;
border: none;
border-radius: 10px;
background-color: #f2f2f2;
padding-left:5px;
}
.input__container{
    display: flex;
    transition: 0.5s ease-in-out;
    background-color: #f2f2f2;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-right: 8px;

}
.input__container:focus-within {
    border: 2px solid var(--secondary-button);
}