.header{
    display: flex;
    z-index: inherit;
    align-items: center;
    /* gap:300px; */
    justify-content: space-around;
    /* padding-left: 150px; */
    /* justify-content: space-around; */
    position: sticky;
    top:0;
    /* overflow: hidden; */
    /* left: 0; */
    min-height: 80px;
    user-select: none;
    letter-spacing: 1.2px;
    backdrop-filter: blur(500px);
    color: var(--secondary-button);
    z-index:999;
}
.login__button{
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #3ACF91;
    margin-left: 10px;
    color: white !important;
    letter-spacing: 1px !important;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.2);

    /* box-shadow: 0 8px 0 var(--secondary-button),0 15px 15px rgba(0,0,0,.35); */
    transition: 0.2s ease-in-out;
}

.login__button:hover{
    transform: scale(1.009);
    box-shadow: 0px 25px 30px -10px rgba(0,0,0,0.28);

}
.pressed__login{
    transform: scale(1.009);

    transform: translateY(4px);
    box-shadow: 0px 25px 30px rgba(0,0,0,0.21);

}
.icon{
    cursor: pointer;
    font-weight: bolder;
}
.icon__right,.right__side{
    display: flex;
    justify-content: space-between;
}

.icon__right>p,.right__side>p{
    padding: 10px;
    font-size: 19px !important;
    border-radius: 10px;
    margin:0 4px;
    transition: 0.4s    ease-in-out;
    cursor: pointer;

}

/* .right__side>p:nth-child(2){
    background-color: var(--secondary-button);
    color: white;
} */
.icon__right>p:hover,.right__side>p:hover:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)){
    background-color: var(--pink--hover);

}



.icon__right>p:active,.right__side>p:active:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)),.icon__right>p:focus,.right__side>p:focus:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)),.icon__right>p:visited,.right__side>p:visited:not(.right__side>p:nth-child(2),.right__side>p:nth-child(3)){
    background-color: var(--simple);

}
.hamburg{
    /* display: block; */
    position: fixed;
    top:5px;
    left: 5px;
    padding: 0;
    cursor: pointer;
  

    /* padding-right: 4px; */
  }
.hamburg__click{
  /* transition: 0.5s ease-in; */
/* transform: rotate(45deg) ; */
background-color: transparent !important;
/* transform-origin: left top; */
}

/* .mini__header__comp{
    flex-direction: row;
} */

.hamburg__click::before{
  transition: 0.2s ease-in-out;

  transform-origin: left bottom;
  transform: rotate(-40.5deg) !important;
  /* translateX(-6px)  */
}
.hamburg__click::after{
  transition: 0.2s ease-in-out;

  transform-origin: left top;
  transform: rotate(38.5deg)  !important;
  /* translateX(-3px) */
}

  .hamburg__component{
      background-color: black;
      width: 15px;
      position: relative;
      height: 4px;
  position: fixed;
  top:35px;
  left: 25px;
  transition: 0.2s ease-in-out;

      border-radius: 4px;
  }
  .hamburg__component::before{
      background-color: var(--secondary-button);
      width: 25px;
      border-radius: 4px;
      transition: 0.2s ease-in-out;

      content: "";
      position: absolute;
      height: 4px;
      top:7px; 
  }
  .hamburg__component::after{
      background-color: var(--secondary-button);
      width: 25px;
      border-radius: 4px;
      content: "";
      transition: 0.2s ease-in-out;

      position: absolute;
      height: 4px;
      top:-7px;
  }

/* .hamburg{
    display: none;
} */

@media(max-width:760px){

/* .user__image__container{
    display: none;
} */
    .icon__right{
        display: none;
        
    }
    .input__container{
        visibility: hidden;
        display: none;
        width: 0;
    }
    .header{
        position: fixed;
        top:0;
        

        width: 100vw;
        left: 0;
    }
}
.user__image__container{
    position: relative;
    display: flex;
    justify-content: center;
}
/* .right__side{
width: 150px;
} */
.user__data{
    position: absolute;
    width: 150px;
    top:50px;
    z-index: 999;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.2);
    padding: 20px 10px;
    /* animation: came 0.5s linear; */
}
/* @keyframes came{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(18%);
    }
} */

.input__btn{
outline: none;
border: none;
border-radius: 10px;
background-color: #f2f2f2;
padding-left:5px;
}
.input__container{
    display: flex;
    transition: 0.5s ease-in-out;
    background-color: #f2f2f2;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-right: 8px;

}
.input__container:focus-within {
    border: 2px solid var(--secondary-button);
}

.mini__header{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 500;
    height: 100vh;
    backdrop-filter: blur(5px);
    /* background-color: red; */
}
/* .min__head{
    position: relative;
} */

.mini__header__comp{
    position: fixed;
    overflow: hidden;
    height: 60vh;
    width: 100%;

   animation: transl 0.5s linear ;
    box-shadow: 0px -1px 90px rgba(0,0,0,0.2);
    bottom: 0;
    background-color: white;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    gap:70px;
    /* justify-content: space-around; */
    /* display: grid;
    place-items: center; */
    

}
@keyframes transl {
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
}
.mini__header__btn{
    display: flex;
    padding-bottom: 40px;
    border-bottom:1px solid #81b893  !important;

    /* flex:1; */
    /* gap:50px; */
    justify-content: space-around;
}
.mini__header__btn>button{
    /* width: 100%; */
    
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 4px;
    border: 2px solid var(--secondary-button);

}

.mini__header__btn>button:hover{
    /* opacity: 0.9; */
    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
}
.mini__header__btn>button:nth-child(1){
    color: var(--secondary-button);
    background-color: white;
    
}
.mini__header__btn>button:nth-child(2){
color: white;
background-color: var(--secondary-button);
}

.header__components{
    display: flex;
    gap:20px;
    /* justify-content: space-around; */
    flex-direction: column;
    
    /* align-items: center; */
}
.mini__join__input{
    display: flex;
    gap:20px;
    align-self: flex-end;
    margin-right: 40px;
    align-items: center;
}
.mini__join__input>button{
    background-color: var(--secondary-button);
    outline: none;
    border: none;
    height: 40px;
    color: white;
    border-radius: 4px;
}
.mini__join__input>button:hover{
    box-shadow: 0px 4px 40px -10px rgba(0,0,0,0.4);
}
.mini__join__input>input{
    height: 40px;
border: 2px solid transparent;
transition: 0.5s ease-in-out;
    /* margin-left: 40px; */
    width: 250px;
}
.mini__join__input>input:focus{
    border: 2px solid var(--secondary-button);
}


.header__description{
    display: flex;
    justify-content: space-around;
}
.header__des__content{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* justify-content: center; */
}
.header__des__content>p{
    color: var(--grey);
    text-transform: capitalize;
    font-size: 16px !important;
    cursor: pointer;
    margin: 0px !important;

}
.header__des__content>img{
    width: 40px !important;
    border-radius: 0%;
    height: 40px !important;
}
.header__dtls{
    margin: 8px 0px !important;
    font-size: 18px !important;
    font-weight: 500;
    color: rgb(112,112,112);
}



@media(max-width:460px){
    .mini__join__input>input{
        width: 200px;
    }
    .header{
        justify-content: flex-end;
        gap:40px;
    }
    .right__side{
        width: 80px;
    }
}

@media(max-width:350px){
    .mini__join__input>input{
        width: 150px;
    }
    .mini__join__input{

flex-direction: column;
    }
}