.teacher__component{
    overflow-x: hidden;
    display: flex;
   /* background-color: rgb(204, 255, 228); */
      /* justify-content:flex-start; */
      width: 99vw;
      justify-content: space-between;
    gap:5rem;
    /* max-width: 100vw; */
    /* background-color: var(--pink--hover); */
}
.teacher__sidebar{
    flex:0.1;
}
.teacher__contents{
    flex:0.9;
    padding-top: 50px;
    padding-right:50px;
    display: flex;
    /* gap:20px; */
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.game__button__home{
    width:200px;
    height: 50px;
    border:none;
    outline: none;
    background: rgba(123, 224, 105, 0.933);
    border-radius:10px;
    transition:0.2s ease-in-out;
    box-shadow: 0 8px 0 var(--secondary-button);
    cursor: pointer;
}
.pressed__join{
    border: none;
    transform: translateY(4px);
    padding-top:3px;
    box-shadow: 0 3px 0 var(--secondary-button);
}
.pressed__create{
    border: none;
    transform: translateY(4px);
    padding-top:3px;
    box-shadow: 0 4px 0 var(--secondary-button); 
}


.gradient__cont{
background:linear-gradient(to  top,rgba(255,255,255,0.4),rgba(255,255,255,0.1));
height: 50px;
border-radius: 50px;
position: absolute;
bottom: -10px;
width: 100%;
}
.main__contain>button{
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn--color);
    border:none;
    cursor: pointer;
    transition: 0.2s    ease-in-out;
    outline: transparent;
    color: white;
    font-weight: bolder;
    border-radius:8px;
}

.main__contain>button>.MuiSvgIcon-root{
    font-size: 20px !important;
}

.main__contain>button:active{
   transform: scale(0.98);
}

.main__contain>p{
    font-size: 40px;
    font-weight: bolder;
    color: var(--btn--color);
}
.main__contain>p>p{
    margin:0;
}
.main__contain>p>div{
    font-size: 40px;
}

.main__search>input{
    width: 400px;
    height: 50px;
    box-shadow: 2px 2px 1px    1px rgba(0,0,0,0.3) inset;
    border-radius: 20px;
    outline: transparent;
    border:1px  solid  var(--grey);
    padding: 0  10px;
    transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--grey);   
     box-shadow: 2px 2px 1px    1px rgba(0,0,0,0.3) inset;


}
/* .main__search>input:hover{
    box-shadow: 2px  2px   1px 1px rgba(0,0,0,0.3) inset;

} */

.main__search>input::placeholder{
    color: var(--btn--color);
}
.main__search>input:focus{
    border:1px  solid   var(--btn--color);

}
.main__search>input:active{
    transform: scale(0.98);
    box-shadow:4px 4px 1px    1px rgba(0,0,0,0.3) inset;

}
/* .teacher__contents{
    flex: 0.8;
    display: flex;
    flex-direction: column;
} */


.not__found{
    display: grid;
    place-items: center;
}
  
  .not__found>img{
      max-height: 20vh;
      max-width: 20vw;
  }
  .not__found>p{
      color: var(--btn--color);
  }

  @media   (max-width:650px){
      .main__search{
          flex-direction: column;
          min-height: 50vh;
      }
      .main__search>input{
          max-width: 80vw;
      }
      .teacher__component{
        gap: 1rem;
        margin-right: 0px;
        justify-content: center;
        width: 100vw;
    }
    /* .teacher__contents{

    } */
  }

  @media(max-width:760px){
      
  }
  .div__home{
      width: 100%;
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      gap:40px;
  }
  .div__home>h1{
      overflow: hidden;
      text-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    margin-inline-end: 0em;
      width: 100%;
      text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--secondary-button);
    }
  .header__home{
      display: flex;
      justify-content: space-around;
      align-items: center;
/* z-index: -1; */
      width: 88%;
   
      /* background-color: white; */
      /* box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.1); */
      padding: 20px;
  }
  .game__btn{
      z-index: 1;
      border: 2px solid #3ACF91;
      outline: none;
      padding: 15px 20px;
      background-color: white;
      border-radius: 4px;
      /* box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.2); */
      cursor: pointer;
      transition: 0.2s ease-in-out;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 20px 30px -10px rgba(0,0,0,0.2);
  }

.game__btn:hover{
    /* transform: scale(1.01); */
    text-shadow: 0px 2px 10px rgba(0,0,0,0.6);
    box-shadow: 0px 40px 30px -14px rgba(0,0,0,0.2);

}

.game__btn::before{
    z-index: -2;
    content: '';
    position: absolute;
    transform: translateX(-100%);
    height: 100%;
    left:0;
    top:0;
    transition: transform 0.5s ease-in-out;

    width: 100%;
}
.game__btn:hover::before{
    z-index:-2;
    background-color: #3ACF91;
    transform: translateX(0%);
}

.game__btn:hover{
    color: white;

}


  .section__home{
      width: 100%;
      padding: 20px 30px;
/* height: 300px; */
      white-space: nowrap;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
overflow: auto;
      position: relative;
      height: 100%;
      gap:2rem;
      padding-bottom: 100px;

      padding-right: 10px;
      /* justify-content: space-around; */
      /* gap:5em; */
      /* padding: 20px; */
  }
  /* .section__home::-webkit-scrollbar-track{
    background-color: red;
    border-radius: 40px;
} */

  .items__content{
      width: 350px;
      display: flex;
flex-direction:column;
align-items: center;
position: relative;
justify-content: center;
      height: 150px;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
      /* box-shadow: 0px 10px 50px rgba(0,0,0,0.1); */
      /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
      /* box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.08); */
      text-transform: uppercase;
      letter-spacing: 1.2px;
      border-radius: 10px;
      cursor: pointer;
      text-transform: uppercase ;
      letter-spacing: 2px;
      font-weight: 500px;
      /* box-shadow: 8px 8px 20px 2px rgba(0,0,0,0.03); */
      /* backdrop-filter: blur(40px); */
      background-color: #3ACF91;
      transition: 0.3s ease-in-out;

  }

  .items__content:hover{
      transform: scale(1.03);
      box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.1);
      /* backdrop-filter: blur(50px); */
  }
.items__content:active{
    transform: scale(0.94);
    box-shadow: none;
}


/* 
  .items__content:active{
      box-shadow: inset -8px -8px 4px rgb(200, 191, 191);
  } */




  @media(max-width:1480px){
      .header__home{
          flex-direction: column;
          gap:80px;
      }
      .section__home{
          gap:20px;
          padding-right: 0px;
      }
      .items__content{
          max-width: 250px;
      }
  }