.main__sidebar{
   max-width: 100px;
    position:fixed;
    bottom:0;
    text-transform: uppercase;
    display: grid;
    height: 100%;
    place-content: center;
    padding: 20px;
    
    border-right: 2px   solid   var(--simple);
    align-content: center;
   
}

.main__sidebar>p{
    /* border-bottom: 1px  solid   var(--grey); */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px    4px; */
    transition: 0.5s    ease-in-out;
   white-space: nowrap;
}
.main__sidebar>p:hover:after{
    background-color: var(--simple);
    content:'';
    position: fixed;
    left:0;
    width: 5px;
    height: 70px;
    background-color: var(--secondary-button);
    /* border-left: 5px   solid   var(--secondary-button); */

}
/* .border__normal>p:hover::after{
    content:'';
    position: fixed;
  
    left:0;
    width: 5px;
    height: 70px;
    background-color: var(--secondary-button);
 
} */

.border__click{
    color: var(--secondary-button);
}

.border__normal::after{
    content:'';
    position: fixed;
  
    left:0;
    width: 5px;
    height: 0px;
    transition: 0.3s    ease-in-out;
    /* background-color: var(--secondary-button); */

}


.border__click::after{
    /* border-left: 5px   solid   var(--secondary-button); */
    content:'';
    position: fixed;
  
    left:0;
    width: 5px;
    height: 70px;
    background-color: var(--secondary-button);

}
.border__normal::before{
    content: '';
    position:fixed;
    left: 0;
    z-index: -1;
    width: 120px;
    height: 70px;
    background-color: transparent;
    border-radius: 3px;
    transition: 0.5s    ease-in-out;
}

.border__click::before{
    content: '';
    position: fixed;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    width: 120px;
    height: 70px;
    /* background-color: var(--simple); */
}

@media(max-width:760px){
    .main__sidebar{
        /* display: none; */
        visibility: hidden;
    }
}