.division::-webkit-scrollbar{
/* display: none; */
width: 10px;
}

.single__book{
    background-color: white;
    height: 200px;
    width: 200px;
    /* margin-bottom: 400px; */
    border-radius: 20px;
    box-shadow: 2px 2px 40px 8px rgba(0,0,0,0.05);
    display: grid;
    place-items: center;
}
.single__book>h1{
    color: var(--secondary-button);
    text-transform: uppercase;
    font-size: calc(8.75px + 8.25 * ((100vw - 480px) / 800));
    letter-spacing: 1.2px;
    
}
