
.svg__sec{
    position: absolute;
    top: 30%;
    width:250px;
    height: 200px;
    z-index: -1;
right:50%;
}

.svg__path{
    transition: 0.5s ease-in-out;
}
.svg__path:hover{
    fill: var(--secondary-button);
    stroke: var(--secondary-button);
}

.sec{
    width: 99vw;
    padding: 0;
    margin:0;
    user-select: none;
    height: 100vh;
    /* overflow:hidden; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* .im>img{
width: 40vw;
height: 80vh;

} */

/* h1{
    padding: 0;
} */

div>img{
    width: 40vw;
    height: 50vh;
    object-fit: contain;
}
.get__started:hover{
border:2px solid  var(--secondary-button);
background:  var(--secondary-button);
color:white;
width: 200px;
box-shadow: 0px 20px 40px -8px rgba(0,0,0,0.3);
}
.get__started{
    border:2px solid #3ACF91;
    border-radius: 10px;
    transition:all 0.5s;
    /* color:#3ACF91; */
    position: relative;
    display: grid;
    place-items: center;
    letter-spacing: 4px;
    overflow: hidden;
    background: transparent;
    text-transform: uppercase;
    box-shadow: 0px 20px 30px -14px rgba(0,0,0,0.1);
    width: 180px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    outline: none;

}
.get__started::after{
    position: absolute;
    content:"";

}

.get__started:hover::after{
    right: -5px;
content: "\2192";
bottom:9.5px;
font-size: 30px;
font-weight: 1800;

}
p.home__info{
    /* text-transform: capitalize; */
    letter-spacing: 1.2px;
    line-height: 27.3px;
    font-weight: 300;
    /* text-shadow: 0px 10px 20px rgba(0,0,0,0.1); */
    /* 3ACF91 */
    /* background: linear-gradient(to right, #222 0%, var(--secondary-button) 100%); */
    color: #273240;
    -webkit-background-clip: text;
    /* background-clip: text; */
    /* -webkit-text-fill-color:transparent; */

}


.home__info>span{

/* border-bottom: 4px solid var(--secondary-button); */

}


.head{
    background: linear-gradient(to right, #273240 40%, var(--secondary-button) 100%);
	-webkit-background-clip: text;
    background-clip: text;
    font-size: calc(23.75px + 11.25 * ((100vw - 480px) / 800));
    font-weight: 400;
    text-transform: uppercase;
    /* color: #1443BD; */
    text-shadow: 0px 20px 40px rgba(0,0,0,0.1);
	-webkit-text-fill-color: transparent;
}
.get__started::before{
    background-color: #FFEAA5;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}
/* .get__started:hover::after{
    content: ">";
    position: absolute;
    right:2px;
    color:white;
} */


.get__started:hover::before{
    transform: translateX(100%) rotate(45deg);
}

.wave{
    width: 100vw;
    height: 20vh;
    position: fixed;
    z-index: 1;
    background-image:url('/public/wave.svg');
    bottom: 0px;

}
