.cont{
    cursor: pointer;
}
.svg circle{
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 1s linear;
    stroke: var(--round);
    stroke-width: 0.8rem;
}
.mni{
    stroke-dashoffset: 0;
    stroke: #00ff00;
    stroke-width: 0.8rem;
}

.svg .bar{
    stroke:var(--blue);
}

.cont{
    display: block;
    height: 200px;
 
    width: 200px;
    margin: 2em auto;
    /* box-shadow: 0 0 1em black; */
    border-radius: 100%;
    position: relative;
}

.cont::after{
    position: absolute;
    display: grid;
    place-items: center;
    height: 160px;
    width: 160px;
left:50%;
top:50%;
/* box-shadow: inset   0 0 1em black; */
content: attr(data-pct)'%';
margin-top: -80px;
margin-left: -80px;
border-radius: 100%;
/* line-height: 160px; */
font-size: 2rem;
/* text-shadow: 0 0 0.5rem black; */
}
.library__parent{
    display: flex;

    /*c!!!!!!important change if an error occours*/
    user-select: none;

    /* justify-content: space-around; */
    align-items: center;
    gap:0px;
    width: 100%;
    height: 80vh;
    box-shadow: 2px 2px 50px 8px rgba(0,0,0,0.06);
    background-color: white;
    border-radius: 10px;
}
.lib__sidebar{
    flex:0.3;
    padding-top: 40px;
    height: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    /* justify-content: space-between; */
}
.lib__sidebar>div{
    background-color: white;
    cursor: pointer;
    
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.01px;
    /* border:2px solid #f1f1f1; */
    box-shadow: 2px 2px 30px 8px rgba(0,0,0,0.04);
    width: 100%;
    padding: 20px 0px;
    display: grid;
    place-items: center;
    position: relative;
}

.lib__sidebar>div::after{
    position: absolute;
    top:50%;
    content: '';
    transition: 0.5s ease-in-out;
    left: 0;
    height: 0%;
    width: 4px;
    background-color: var(--secondary-button);

}
.lib__sidebar>div:hover::after{
    height: 100%;
    top:0%;
}


.side__click{
    color: green;
    position: relative;
}
.side__click::before{
    position: absolute;
    top:0%;
    content: '';
    transition:0.5s ease-in-out;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: var(--secondary-button);
}


.svg__cont{
     /* display: grid; */
     flex:0.7;
     width: 100%;
     display: flex;
     justify-content: center;
     height: 100%;
     padding: 50px;
     border-radius: 40px;
    /* place-items: center; */
}



/* svg{
    box-shadow: 2px 2px 30px 8px rgba(0,0,0,0.04);
    border-radius: 100%;
} */