.cont{
    cursor: pointer;
}
.svg circle{
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 1s linear;
    stroke: var(--round);
    stroke-width: 0.8rem;
}
.mni{
    stroke-dashoffset: 0;
    stroke: #00ff00;
    stroke-width: 0.8rem;
}

.svg .bar{
    stroke:var(--blue);
}

.cont{
    display: block;
    height: 200px;
 
    width: 200px;
    margin: 2em auto;
    /* box-shadow: 0 0 1em black; */
    border-radius: 100%;
    position: relative;
}

.cont::after{
    position: absolute;
    display: grid;
    place-items: center;
    height: 160px;
    width: 160px;
left:50%;
top:50%;
/* box-shadow: inset   0 0 1em black; */
content: attr(data-pct)'%';
margin-top: -80px;
margin-left: -80px;
border-radius: 100%;
/* line-height: 160px; */
font-size: 2rem;
/* text-shadow: 0 0 0.5rem black; */
}

.svg__cont{
     display: grid;
     width: 100%;
    place-items: center;
}

