.login__parent{
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    /* align-items: flex-st; */
    /* justify-content: space-between; */
    gap:2rem;
    font-family: 'Poppins', sans-serif;

    width: 300px;
}
.login__parent>h3{
    color: var(--secondary-button);
    font-weight: 3800;
}

.login__container{
    background-color: #222;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0px 4px 20px -1px rgba(0,0,0,0.2);
transition: 0.5s ease-in-out;
    justify-content: space-around;
}
.white{ 
    background-color: white;
    color: black;
}
.white>.MuiSvgIcon-root{
    color: var(--grey) !important;
}
.login__container>.MuiSvgIcon-root{
    color: rgba(184, 182, 182, 0.5);
    font-size: 20px !important;
}
.login__container:hover{
    opacity: 0.9;
}