:root{
  --text--white:#fff;
  --btn--color:#29a9ff;
  --grey:#6c757d;
  --pink--hover:rgba(255, 164, 2, 0.4);
  --secondary-button:rgb(12, 155, 107);
  --white--grey:rgba(136, 133, 133, 0.05);
  --simple:#f2f2f2;
  --round:#292935;
  --playground--color:#429254;
  --playground-background--color:#2a522c;
  --red--danger:red;
  --blue:rgba(30, 223, 120, 0.575);
  --blue--opacitied:linear-gradient(#afffe396,#e1fcee36);
  font-family: gordita,Helvetica Neue,Helvetica,sans-serif;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, Nunito Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal2-popup{
  position: fixed !important;
  top:20vh !important;
  display: flex !important;
  width: 500px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
}


.swal2-title{
font-size: 20px !important;
color: #777777 !important;


}

.swal2-actions{
  margin:none !important;
}

.swal2-confirm{
  background-color: #3ACF91 !important;
  padding: 8px 10px  !important;
}
.swal2-styled{
  border: 2px solid transparent !important;
}

.swal2-styled:focus{
  outline: 2px solid transparent !important;

}
.swal2-styled:hover{
  background-color: none !important;
}


.swal2-deny{
  background-color: transparent !important;
  color: #777777 !important;
  padding: 8px 10px !important;
  border: 2px solid transparent !important;
}

.swal2-deny:active{
  background: none !important;
  border: none !important;
}

.swal2-confirm:active{
  background-color: none !important;
  border: none !important;
}