:root{
  --text--white:#fff;
  --btn--color:#29a9ff;
  --grey:#6c757d;
  --pink--hover:rgba(255, 164, 2, 0.4);
  --secondary-button:rgb(16, 185, 129);
  --white--grey:rgba(136, 133, 133, 0.05);
  --simple:#f2f2f2;
  --red--danger:red;
  --blue--opacitied:linear-gradient(#afffe396,#e1fcee36);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, Nunito Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
